<section class="bg-white">
  <div class="container-fluied">
    <div class="row align-items-center ">
      <div class="col-md-8 d-flex align-items-center">
        <img class="navbar-brand" src="./assets/OIP.jpg" alt="Logo" width="70" height="70">
        <h4 class="ms-2 me-2">FCAI-CU</h4>
      </div>
      <div class="col-md-4 d-flex justify-content-end">
        <ul class="d-flex list-unstyled">
          <li class="p-2 me-5 nav-item active fs-6">
            <a class="nav-link " aria-current="page" routerLink="home">Home</a>
          </li>
          <li class="nav-item p-2 me-5 fs-6">
            <a class="nav-link" routerLink="projects">Projects</a>
          </li>
          <li class="nav-item p-2 me-5 fs-6">
            <a class="nav-link" routerLink="login">Login</a>
          </li>
          <li class="nav-item p-2 me-5 fs-6">
            <a class="nav-link" *ngIf="" routerLink="logout">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>